<div class="container-fluid">
  <div class="card" style="border:0;border-radius:0">
    <div class="card-header" id="maincard">
      User Menu Previlige
    </div>
    <div class="container-fluid" id="fixedpage" style="padding-left:25%;padding-right:25%">




      <div class="card-body">
        <div class="card" style="border-radius:0px">
          <div class="card-body" style="padding:3%">
            <div class="row">
              <div class="col-sm-3">
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Select user">
                    <mat-option *ngFor="let i of RoleIdName" [value]="i.RoleId">{{i.RoleName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <div class="matbutton">
                  <button mat-raised-button color="primary">Save</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                </div>
              </div>
              <div class="col-sm-6">
                <div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button mat-raised-button color="primary">Expand all</button>

                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button mat-raised-button color="primary">Collaspe all</button>
                </div>
              </div>
            </div>
            <br>
            <div>
            </div>



            <mat-accordion  *ngFor="let item of navItems">
              <mat-expansion-panel>
                <mat-expansion-panel-header  hideToggle="">
                  <mat-panel-title  *ngIf="item.SubMenuItems && item.SubMenuItems.length > 0">
                    <mat-checkbox></mat-checkbox>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.MenuName}}
                  </mat-panel-title>
                  <mat-panel-title *ngIf="!item.SubMenuItems || item.SubMenuItems.length === 0">
                      <mat-checkbox></mat-checkbox>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.MenuName}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
               
                <app-user-menu-child #usermenu [items]="item.SubMenuItems"></app-user-menu-child>
              </mat-expansion-panel>
            
            </mat-accordion>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>









