#maincard{
    background-color:#344955;
    color:white;
    text-align: left;
    border-radius:0px
    }
    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-color: #000;
    }