<div *ngIf="data.confirmationDialog == 0" class="card"
  style="border-radius:10px;box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);">
  <div class="card-body" style="background-color: white;padding-bottom:10px;border-radius:10px">
    <div style="display: flex;flex-direction: row">
      <i class="material-icons" style="color: black">info</i>&nbsp;
      <p style="font-size:14px;font-weight: 600;">{{alertMessage}}</p>
    </div>
    <hr style="color:black">
    <div style="text-align:center;">
      <button mat-raised-button color="primary" (click)="dialogRefClose(true)"
        style="height: 30px;font-size:12px">Ok</button>
    </div>
  </div>
</div>

<div *ngIf="data.confirmationDialog == 1" class="card"
  style="border-radius:10px;box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.1), 0 10px 30px 0 rgba(0, 0, 0, 0.2);">
  <div class="card-body" style="background-color: white;padding-bottom:10px;border-radius:10px">
    <div style="display: flex;flex-direction: row">
      <i class="material-icons" style="color: black">info</i>&nbsp;
      <p style="font-size:14px;font-weight: 600;">{{confirmMessage}}</p>
    </div>
    <hr style="color:black">
    <div style="text-align:center;">
      <div class="row" style="border-top:1px solid lightgray">
        <div class="col-sm-6" style="text-align: center;border-left:1px solid lightgrey">
          <button mat-raised-button color="primary" (click)="dialogRef.close(true)"
            style="height: 30px;font-size:12px">Yes</button>
        </div>
        <div class="col-sm-6" style="text-align: center">
          <button mat-raised-button color="warn" (click)="dialogRef.close(false)"
            style="height: 30px;font-size:12px">No</button>
        </div>
      </div>
    </div>
  </div>
</div>