<div class="container-fluid">
  <div class="card" style="border:0;border-radius:0">
    <div class="card-header" id="maincard">
      Role Menu Previlige
    </div>

<div class="container-fluid" id="fixedpage">
    <div class="card-body">


          <div class="row">
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-select placeholder="Select Role" [(ngModel)]="model.RoleId" name="RoleId">
                  <mat-option *ngFor="let role of RoleName" [value]="role.RoleId">{{role.RoleName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <div class="matbutton">
                <button (click)="save()" mat-raised-button color="primary">Save</button>
                &nbsp;&nbsp;&nbsp;&nbsp;

              </div>
            </div>
            <div class="col-sm-6">
                <div>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button mat-raised-button color="warn">Expand all</button>
    
    
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <button mat-raised-button color="accent">Collaspe all</button>
                </div>
    
    
              </div>
          </div>         
          <br>
          <mat-accordion  *ngFor="let item of navItems">
            <mat-expansion-panel [disabled]="item.SubMenuItems.length==0">
              <mat-expansion-panel-header >
                <mat-panel-title  *ngIf="item.SubMenuItems && item.SubMenuItems.length > 0">
                  <mat-checkbox [(ngModel)]="item.SubMenuItems.IsSelected" ></mat-checkbox>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.MenuName}}
                </mat-panel-title>
                <mat-panel-title *ngIf="!item.SubMenuItems || item.SubMenuItems.length === 0">
                    <mat-checkbox [(ngModel)]="item.IsSelected"></mat-checkbox>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.MenuName}}
                </mat-panel-title>
              </mat-expansion-panel-header>
             
              <app-role-menu-child #Rolemenu [items]="item.SubMenuItems"></app-role-menu-child>
            </mat-expansion-panel>
          
          </mat-accordion>
          
       
    </div>

  
</div>
  </div>
 